<footer class="uk-section uk-section-muted  uk-margin footer" style="margin-top: 5em;">
    <div class="uk-container">
        <div class="uk-footer-left">
            <p>&copy; App_name evrywhere! <br /><span class="uk-article-meta">
                "fun and easy to mange your wish for everywhere for anywhere.."
            </span></p>
            <p id="second">@2020-2021 All rights reserved!</p>
        </div>
       

        <div class="uk-footer-right">
            <div class="uk-margin">
                <div >
                    <form action="">
                        <input class="uk-input uk-form-width-medium" type="email" placeholder="Enter your email...." >
                   
                         <button class="uk-button uk-button-default" style="padding: 2px; margin-left: 10px;">Newsletter</button>
                    </form>
                </div>
            </div>
           
        </div>


        
    </div>

</footer>